.main-shopping-list-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 95vw;
  max-width: 700px;
}

.shopping-list {
  display: flex;
  margin-left: 15px;
  margin-top: 20px;
  height: 15px;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 900;
}

.shopping-list-form {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 auto;
  margin-top: 5px;
  padding: 5px;
  width: 90vw;
  max-width: 600px;
  min-height: 380px;
  height: inherit;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-color: white;
}

.input-section {
  display: flex;
  margin-bottom: 8px;
  padding-bottom: 8px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.shopping-list-input {
  display: flex;
  font-size: 25px;
  width: 70vw;
  max-width: 500px;
  margin-top: 5px;
  padding-left: 10px;
}

.list {
  display: flex;
  flex-direction: column;
}

.shopping-list-items {
  font-size: 25px;
  color: black;
  margin-bottom: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.add-icon {
  display: flex;
  flex-wrap: wrap;
  width: 40px;
}

.trash {
  margin: 0 10px;
}

.checked {
  display: none;
}

.complete {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  text-decoration: line-through;
}

.deleted {
  /* display: none; */
  float: right;
  border-style: none;
  background-color: white;
}

.shopping-list-complete {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  border-style: none;
  background-color: white;
}

.shopping-list-delete {
  float: right;
  border-style: none;
  background-color: white;
}

.desktop-menu-container {
  display: none;
}

@media (min-width: 765px){

  .main-shopping-list-container {
    display: flex;
    margin-top: 160px;
    margin-left: 40px;
  }

  .account-shopping-container {
    display: flex;
    justify-content: center;
  }

  .desktop-menu-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 280px;
    margin-top: 50px;
    margin-left: 20px;
  }

  .desktop-account {
    font-family: "Rubik", sans-serif;
    font-weight: bolder;
    font-size: 40px;
    text-align: left;
    margin-left: 15px;
    margin-bottom: 50px;
  }

  .desktop-menu-ul {
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  .desktop-menu-list {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-top: 30px;
    height: 50px;
    width: 25vw;
    max-width: 250px;
    text-align: left;
    font-weight: 900;
    font-size: 18px;
    font-family: "Rubik", sans-serif;
  }

  .desktop-list-name {
    margin-left: 20px;
    opacity: 0.3;
  }

  .desktop-menu-icon-span {
    float: right;
    width: 20px;
    margin-right: 20px;
  }

  .desktop-link-name {
    margin-left: 20px;
  }

  .desktop-menu-list-link {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-top: 30px;
    height: 50px;
    max-width: 30vw;
    text-align: left;
    font-weight: 900;
    font-size: 18px;
    font-family: "Rubik", sans-serif;
    text-decoration: none;
    color: black;
  }

  .desktop-active-icon {
    float: right;
    width: 20px;
    margin-right: 10px;
  }

  .desktop-menu-icon {
    width: 20px;
    opacity: 0.4;
  }

  .shopping-list-form {
    width: 50vw;
    max-width: 1000px;
    min-height: 550px;
    height: inherit;
  }

  .shopping-list-input {
    display: flex;
    font-size: 25px;
    width: 40vw;
    max-width: 600px;
    margin-left: 5px;
    margin-top: 5px;
    border: none;
  }

}

/* 

.account-shopping-container {
  z-index: -1;
} 
*/

/* @media (min-width: 765px) {
 




} */
