.footer-container { 
  min-height: 300px;
  background-color:#F7F4EA;
  margin-top: 30px;
  text-align: center;
  padding-bottom: 20px;
}

.footer-logo {
  height: 60px;
}

.sign-links {
  display: flex;
  justify-content: space-evenly;
}

.sign-links > a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.credits-group > p {
  margin: 5px auto;
}
