.nav-container {
  margin: 0 auto;
  width: 85%;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.nav-border {
  box-shadow: 0 1px 4px 0;
  background-color: #f9f9f9;
}

.nav-shipt-logo {
  height: 40px;
  margin: 15px 0;
}

.nav-links-container {
  display: flex;
  justify-content: space-between;
  margin: auto 0;
  min-width: 25%;
}

.nav-help-icon {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
  max-width: 35px;
  height: 35px;
  border: none;
}

.nav-account-icon {
  display: flex;
  position: relative;
  margin-left: auto;
  max-width: 35px;
  height: 35px;
  border: none;
  background-color: transparent;
}

.desktop-nav-container {
  display: none;
}

.drop-down {
  position: absolute;
  z-index: 2;
  display: inline-block;
  margin-top: 34px;
  margin-right: 240px;
  transform: translateX(-185px);
}

.mobile-menu {
  display: flex;
  flex-direction: column;
}

.desktop-nav-account-icon {
  display: none;
}

.nav-services-icons-desktop {
  display: none;
  
}

.nav-services-icons {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  min-width: 25%;
}

.nav-delivery-time-container {
  display: none;
  padding: 30px;
}

.vertical-line {
  border-left: 1px solid gray;
  margin: 10px 0 15px 250px;
}

.delivery-target-text-container { 
  margin: auto 10px;
  font-weight: bold;
}

.delivery-text {
  color: green;
  margin-bottom: 0;
}

.target-text {
  font-size: 23px;
  margin: 0;
}

.nav-categories-desktop-container {
  display: flex;
}
.nav-categories-desktop-container  > p {
  margin-top: 25px;
  font-size: 20px;
}

.nav-categories-desktop {
  margin: 20px 20px;
  text-decoration: none;
}

.nav-services-icons-container {
  display: flex;
  margin: auto 0;
  justify-content: space-between;
}

.cart-icon-desktop {
  margin-top: 10px;
  margin-right: 10px; 
}

@media (min-width: 765px) {
  .nav-account-icon {
    display: none;
  }
  .desktop-nav-container {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
  }
  .nav-help-icon {
    height: 30px;
    width: 30px;
  }
  .desktop-nav-account-icon {
    display: flex;
    height: 30px;
    margin-left: 20px;
  }
  .desktop-nav-account-span {
    margin-top: 5px;
    padding-left: 5px;
    font-size: 20px;
  }
  .nav-question-mark {
    display: none;
  }
  .nav-services-icons-desktop {
    display: flex;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    min-width: 25%;
  }
  .nav-services-icons {
    display: none;
  }

  .nav-delivery-time-container {
    display: block;
  }
}

.nav-services-container {
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
  width: 85%;
}


