.nav-container {
  margin: 0 auto;
  width: 85%;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.nav-border {
  box-shadow: 0 1px 12px 0;
  background-color: #f9f9f9;
}

.nav-shipt-logo {
  height: 40px;
  margin: 15px 0;
}

.nav-links-container {
  display: flex;
  justify-content: space-between;
  margin: auto 0;
  min-width: 25%;
}

.nav-help-icon {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
  max-width: 35px;
  height: 35px;
  border: none;
}

.nav-account-icon {
  display: flex;
  position: relative;
  margin-left: auto;
  max-width: 35px;
  height: 35px;

  border: none;
  background-color: transparent;
}

.desktop-nav-container {
  display: none;
}

.drop-down {
  position: absolute;
  z-index: 2;
  display: inline-block;
  margin-top: 34px;
  margin-right: 240px;
  transform: translateX(-185px);
}

.mobile-menu {
  display: flex;
  flex-direction: column;
}

@media (min-width: 765px) {
  .nav-account-icon {
    display: none;
  }
  .desktop-nav-container {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
  }
  .nav-help-icon {
    height: 30px;
    width: 30px;
  }
  .desktop-nav-account-icon {
    display: flex;
    height: 30px;
    margin-left: 20px;
  }
  .desktop-nav-account-span {
    margin-top: 5px;
    padding-left: 5px;
    font-size: 20px;
  }
}

.nav-services-container {
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
  width: 85%;
}

.nav-services-icons {
  display: flex;
  justify-content: space-between;
  min-width: 25%;
}
