.main-edit-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.edit-form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.edit-input {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  width: 50vw;
  max-width: 400px;
  height: 38px;
  font-size: 15px;
  border: 0.5px solid rgb(198, 196, 196);
  border-radius: 4px;
  padding-left: 10px;
}

.edit-save-button {
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
  justify-content: center;
  width: 45vw;
  max-width: 250px;
  height: 38px;
  border-radius: 8px;
  background-color: rgb(43, 122, 95);
  color: white;
  font-size: 20px;
}

.edit-image {
  display: flex;
  margin-top: 20px;
  width: 60vw;
}
