@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.inputField {
    font-weight: 900; 
    color: grey;
    margin-bottom: 0%;
    text-align: start;
    /* transform: translateX(0%); */
}

.inputBox {
    width: 229.1px;
    height: 30px;
    font-size: 15px;
    border: .5px solid rgb(198, 196, 196);
    border-radius: 4px;
}

.post-button{
    margin: 2px;
    margin-top: 10px;
    width: 230px;
    font-weight: 900;
    height:38px;
    border-radius: 8px;
    background-color: rgb(43,122,95);
    color: white;
    font-size: 20px;
    transform: translateX(-1%);

}

.sign-in-area, .sign-up-area {
    width: 230px;
}

.signUpHeader1 {
    font-family: 'Rubik', sans-serif;
    text-align: left;

    margin-bottom: 0px;
    font-size: 25px;
    font-weight: 900;
}

.signUpHeader2 {
    font-family: 'Rubik', sans-serif;
    text-align: left;
    margin-bottom: auto;
    font-size: 13px;
}