@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.inputField {
    font-weight: 900; 
    color: grey;
    margin-bottom: 0%;
    text-align: start;
    /* transform: translateX(0%); */
}

.inputBox {
    width: 229.1px;
    height: 30px;
    font-size: 15px;
    border: .5px solid rgb(198, 196, 196);
    border-radius: 4px;
}

.post-button{
    margin: 2px;
    margin-top: 10px;
    width: 230px;
    font-weight: 900;
    height:38px;
    border-radius: 8px;
    background-color: rgb(43,122,95);
    color: white;
    font-size: 20px;
    transform: translateX(-1%);

}

.sign-in-area, .sign-up-area {
    display: block;
    width: 230px;
}

.wrapperSignUp{
    display: flex;
    justify-content: space-evenly;
}

.allSignUpHeaders {
    justify-content: center;
    display: block;
    padding: 2px 20px;
    
}

.signUpHeader1 {
    font-family: 'Rubik', sans-serif;
    text-align: left;

    margin-bottom: 0px;
    font-size: 25px;
    font-weight: 900;
}

.signUpHeader2 {
    font-family: 'Rubik', sans-serif;
    text-align: left;
    margin-bottom: auto;
    font-size: 13px;
}

.signUpImage {
    display: none;
}

@media screen and (max-width: 850px) {


    .wrapperSignUp {
        flex-direction: column;
    }

    .signUpImage {
        display: none;
    }
  }





  @media screen and (min-width: 850px) {


    .headers {
        padding: 5px 15px;
        padding-bottom:  70px;
    }

    .wrapperSignUp {
        border: 1px solid rgb(204, 203, 203);
        border-radius: 5px;
        width: 900px;
    }

    .allSignUpHeaders {
       
        display: flex;
        flex-direction: column;
    }
    .signUpHeader1 {
        display: block
    }

     .signUpHeader2{
         display: block;
    }
    .signUpImage {
            display: block;
             padding: 20px;
             padding-bottom: 50px;
     }
     
     .sign-up-area, .sign-in-area {
         padding-top: 50px;
     }
  }


 