.staticButton { 
    margin: 10px;
    width: 239.1px;
    font-weight: 900;
    transform: "translateY(18%)"
}

.appleButton {
    
    background-color: black;
    color: white;
    border-radius: 7.7px;
    
}
.googleButton {

    background-color:  rgba(74,121,230);
    color: white;
    border-radius: 7.7px;
}

.facebookButton {

    background-color: rgba(61,90,166);
    color: white;
    border-radius: 7.7px;
}

.buttonDiv {
    padding: 20px;
    display: flex;
    flex-direction: column;
      align-items: center;
    justify-content: center;
}

.divAppleStyle {
    display: inline-flex;
    float: left;
    padding: 2px;
    margin-left: 2px;
    transform: translateY(10%);

}
.divGoogleStyle {
    background: white;
    display: inline-flex;
    float: left;
    padding: 4px;
    margin-left: 5px;
    transform: translateY(18%);

}
.divFacebookStyle{
    background: white;
    display: inline-flex;
    float: left;
    padding: 2px;
    transform: translateY(12%);
    margin-left: 5px;
    border-radius: 4px;
}