@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@400;700&family=Rubik:wght@400;500;700&display=swap');

.gift-bar {
  background-color: #CFE7E1;
  font-weight: bold;
  padding: 5px;
  box-shadow: 0px 9px 15px 0px rgba(186,186,186,1);
}

.home-delivery-time-container {
  background-color: #F7F4EA;
  padding: 30px;
}
  
.home-search-container {
  background-image: url("/Images/Rectangle 174.png");
  background-repeat: round;
  min-height: 150px;
  padding-top: 10px;
}

.home-target-logo, .home-target-text {
  margin-top: 10px;
  min-width: 75px;
  display: block;
  margin: 0 auto;
  padding-bottom: 5px;
}

.home-target-logo-desktop {
  display: none;
}

.home-search {
  min-width: 75%;
  border-radius: 25px;
  padding: 8px 0 8px 10px;
  background-image: url("/Images/Group 55.png");
  background-repeat: no-repeat;
  background-position: 98% 50%;
  background-size: 28px;
  font-size: 15px;
}

.home-products-links {
  display: flex;
  justify-content: space-evenly;
  margin-top:10px;
}

.home-group-icons {
  display: block;
  margin: auto 55px;
  min-height: 30px;
  
}

.scroll-items-display {
  margin-right:20px;
}

.horizontal-scroll-links {
  display: flex;
  flex-flow: column;
  
}

.horizontal-scroll-links-page {
  display: flex;
}
/* this was the only way to style the ReactSmartScroller library component */
/* removing the arrows and resizing the bullets to match the ux design */
.ivXhxe, .giUXNv {
  display: none !important;
}

.fdnftI {
  height: 15px !important;
  width: 15px !important;
}

.home-products-links-desktop {
  display: none;
}

.exclusive-savings-desktop {
  display: none;
}

@media (min-width: 765px) {
  .home-delivery-time-container {
    display: none;
  }

  .home-search-container {
    background-image: url("/Images/vegetable desktop.png");
    min-height: 350px;
  }

  .home-target-text {
    display: none;
  }

  .home-target-logo {
    display: none;
  }
  .home-target-logo-desktop {
    display: block;
    margin: 20px auto;
    width: 200px;
  }

  .home-search {
    min-width: 45%;
    height: 30px;
    font-size: 25px;
  }

  .gift-bar {
    display: none;
  }

  .home-products-links {
    display: none;
  }

  .home-products-links-desktop {
    display: flex;
    justify-content: space-evenly;
    background-color: #F9F9F9;
  }

  .horizontal-scroll-links {
    display: flex;
    justify-content: row;
  }

  .horizontal-scroll-links-desktop {
    display: flex;
    justify-content: space-around;
  }
  
  .horizontal-scroll-links-desktop > p {
    margin: auto 0;
    font-size: 25px;
  }
  
  .home-group-icons {
    margin: 20px;
    min-height: 40px;
  }

  .exclusive-savings {
    display: none;
  }
  .exclusive-savings-desktop {
    display: block;
  }

  .home-layout-desktop {
    width: 80%;
    margin: 0 auto;
  }
}