@import url("https://fonts.googleapis.com/css2?family=Manjari:wght@400;700&family=Rubik:wght@400;500;700&display=swap");

.inner-modal1 {
  background-color: #f7f4ea;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.outer-modal1 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background: grey;
  z-index: 1000;
  background-color: rgb(0, 0, 0, 0.3);
}
.nav1 {
  display: none;
}
#member1 {
  background-color: #cfe7e1;
  color: #000000;
  width: 100px;
  height: 40px;
  border-radius: 6px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.x1 {
  height: 51px;
  width: 51.3px;
  border: none;
  background-color: transparent;
  outline: none;

  margin-top: 0;
  margin-bottom: 50px;
}
.quit1 {
  float: right;
  margin-left: 300px;
  margin-bottom: 10px;
  margin-top: 11.5px;
  display: flex;
  align-self: flex-start;
}

#shopper1 {
  background-color: #cfe7e1;
  color: #000000;
  width: 100px;
  height: 40px;
  border-radius: 6px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-box1 {
  width: 261px;
  height: 250 px;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-right: 29px;
  margin-top: 20px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.member-shopper1 {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-around;
}

.text-box1 {
  border: solid 1px #bababa;
  height: 240px;
  width: 220px;
  margin-left: 20px;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-right: 20px;
}
.greeting1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 10px;
  font-size: 18px;
  align-content: center;
  margin-top: 10px;
  font-family: Rubik;
}

.send {
  border-radius: 15px;
  width: 150px;
  height: 40px;
  background-color: #3a8569;
  color: white;
  align-self: center;
  font-size: 18px;
  font-weight: 500;

  margin-bottom: 25px;
}

@media (min-width: 765px) {
    .outer-modal1 {
        display: flex;
        justify-content: flex-end;
      }
      .inner-modal1 {
        display: flex;
        margin: 180px 50px 0 auto;
        width: 178px;
        height: 293px;
        border-radius: 5px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }


  #member1 {
    width: 75px;
    height: 25px;
  }
  #shopper1 {
    width: 75px;
    height: 25px;
  }
  .nav1 {
    display: block;
  }
  .greeting1 {
    font-size: 12px;

    margin: 0;
    padding: 0;
  }

  .member-shopper1 {
    margin-bottom: 0px;
    margin-top: 25px;
  }
  .chat-box1 {
    height: 189px;
    width: 142px;
    margin-right: 100px;
    margin-left: 20px;
    margin-right: 39px;
    margin-top: 12px;
    border-radius: 4px;
    margin-bottom: 18px;
  }
  .quit1 {
    position: relative;
    top: 40px;
    left: 10px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    display: inline-block;
    align-self: flex-end;
  }
  .text-box1 {
    height: 105px;
    width: 127px;
    border-radius: 4px;
    margin-right: 25px;
    margin-left: 5px;
    margin-bottom: 25px;
  }
  .send {
    height: 24px;
    width: 66px;
    font-size: 15px;
    border-radius: 15px;
    align-self: center;
    margin-bottom: 70px;
  }
  .x1 {
    max-height: 28px;
    max-width: 28px;
    margin-bottom: 10px;
  }
}
