@import url("https://fonts.googleapis.com/css2?family=Manjari:wght@400;700&family=Rubik:wght@400;500;700&display=swap");



.outer-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background: grey;
  z-index: 1000;
  background-color: rgb(0, 0, 0, 0.3);
}

.inner-modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 280px;
  width: 340px;
  top: 11.5%;
  background-color: rgb(255, 255, 255, 1);
  bottom: 25%;
  border-radius: 21.7px;
  z-index: 1;
  font-family: Rubik, sans-serif;
  font-size: 18px;
}

.main-inner {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.got-it {
  background-color: #3a8569;
  height: 37px;
  width: 146px;
  border-radius: 11.2px;
  font-family: Rubik, sans-serif;
  font-size: 20.2px;
}

.x {
  font-family: Rubik, sans-serif;
  font-size: 18.2px;
  border-radius: 21.7px;
  width: 40px;
  color: grey;
  padding-top: 10px;
  border: none;
  background-color: white;
  outline: none;
}

.x-box {
  display: flex;
  justify-content: flex-end;
  border-radius: 11.2px;
}

@media (min-width: 765px) {
  .inner-modal {
    margin: auto 0;
    width: 520px;
    height: 258px;
    font-size: 18px;
    box-shadow: 0 3px 12px 0;
    padding-left: 24px;
    padding-right: 24px;
  }
  .x {
    margin-top: 10px;
    background-color: white;
    margin-right: 10px;
    border: none;
    font-size: 29px;
  }
  .got-it {
    width: 131px;
    height: 33px;
    border-radius: 10px;
  }
  .nav-shipt-logo {
    margin-top: 3px;
  }
}

